:root{
    --primary-color: #026A90;
    --secondary-color: lightgray;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:var (--secondary-color);
    font-family: sans-serif;
    margin: 0;
    line-height: 1.8;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: white;
}

.container {
    width: 75%;
    max-width: 1120px;
    margin: auto;
}

/* navbar */
header{
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color)
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h3 {
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
}

li {
    list-style: none;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
 
.header ul li {
    margin: 0 1rem;
    font-size: 14px;
}
 
.header ul li a:hover {
    transition: all 0.5s ease;
    color: #555;
}

.search{
    background-color:transparent;
    border: 2px solid var(--secondary-color);
    border-radius:50px;
    font-size: 1rem;
    padding: 1rem;
    color: white;
}

.search::placeholder{
    color: white;
}

.search:focus{
    outline: none;
}

.btn:hover {
    opacity: 0.8;
}

.btn {
    padding: 0.8rem 2rem;
    background-color: rgb(148, 148, 228);
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    width: 100%;
    margin-top: 1rem;
    transition: all 0.5s ease;
}

main{
    display: flex;
    flex-wrap: wrap;
}

/* movie */
.movie{
    width:300px;
    margin: 1rem;
    background-color: var(--primary-color);
    box-shadow:0 4px 5px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie img{
    width: 100%;
}

.movie-info{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 1px;
}

.movie-info span{
    background-color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}
 .movie-info span.green{
    color: green;
 }
 .movie-info span.orange{
    color: orange;
 }
 .movie-info span.red{
    color: red;
}   

.overview{
   background-color:var(--secondary-color);
   color: var(--primary-color);
   padding: 2rem;
   position:absolute;
   left: 0;
   bottom: 0;
   right: 0;
   max-height: 100%;
   transform: translateY(101%);
   transition: transform 0.3s ease;
}

.movie:hover .overview{
   transform: translateY(0);
}

/* acerca de y contact */
.about{
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("./img1.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 50px 40px;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}